@import url("https://fonts.cdnfonts.com/css/sf-pixelate");

html,
body {
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, */
  /*   Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-family: "SF Pixelate", sans-serif;
  /* font-family: 'SF Pixelate Shaded', sans-serif; */
  color: white;

  margin: auto;
  max-width: 60rem;

  background: #dc0a2d;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;

  /* max-width: 30rem; */
  /* border-color: red; */
  /* border-style: solid; */
  margin-inline: 1rem;
}

h1 {
  border-color: orange;
  border-style: solid;
  text-align: center;
  font-weight: 600;
  font-size: 3rem;
  padding: 2rem;
}

#pokemon-list {
  /* Reset and delete defaults in list */
  margin: 0;
  padding: 0;
  list-style: none;

  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));

  /* margin: auto; */
  /* width: 50%; */
  /* max-width: 50rem; */
}

/* .list-container { */
/*   margin-inline: 1rem; */
/* } */

.card {
  /* border-color: blue; */
  /* border-style: solid; */
  background-color: white;
  color: black;
  border-radius: 30px;
  padding: 1rem;

  text-align: center;
  box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.3);
}

.card img {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 67em) {
  h1 {
    font-size: 1rem;
    padding: 0;
  }

  h2 {
    font-size: 0.75rem;
  }
}
